@charset "utf-8";

/*header*/
header {
	width: 100%;
	height: 80px;
	border-bottom: 8px solid #980d0d;
}
.tnb, .call {display: none;}
header .logo {font-size: 24px;}
#gnb {display: none;} /*나중에 꼭 할것임*/
.menu {
	position: absolute;
	top: 50%; left: 20px;
	transform: translateY(-50%);
	display: block;
	font-size: 24px;
	color: #000
}
/*mainImage*/
#mainImage {
	height: 100vh;
	background-image: url(../img/main_img04.png);
	background-size: cover;
}
.textBox {
	height: 100vh;
	background: rgba(0,0,0,0.3)
}
.innerBox {
	width: 60%;
	height: 100%;
	top: 50%; 
	transform: translateY(-50%);
}
.innerBox h2 {font-size: 16px;}
.innerBox h1 {font-size: 26px;}

/*bestMenu*/
#bestMenu article {
	width: 90%;
	padding: 30px 0;
	border-left: 0;
	border-right: 0;
}
#bestMenu .menuList {
	width: 100%;
	margin: 0 0 40px 0;
}

/*footer*/
footer {line-height: 50px;}




